body{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
}

.container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin: 0 auto;
}
.container__cabecera{
    background: #43ff;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0.5em;
}
.container #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

.container h1{
    font-size: 25px;
}
p{
    font-family: Courier;
}